@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes brilho {
  0%{
    filter: brightness(70%);
  }
  50%{
    filter: brightness(120%)
  }
  100%{
    filter: brightness(70%);
  }
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 720px;

  .content{ 
    margin: 1.5rem;
    text-align: center;

    .fp { 
      padding-bottom: 40px;
    }
  }

  .reviews{
    margin-bottom: 3rem;

    .review:nth-child(1){
      animation-name: fadeIn;
      animation-delay: 100ms;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      
    }
    .review:nth-child(2){
      animation-name: fadeIn;
      animation-delay: 400ms;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }
    .review:nth-child(3){
      animation-name: fadeIn;
      animation-delay: 800ms;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }

  }

  .review{
    font-weight: 700;
    font-size: 17px;
    background-color: hsl(300, 24%, 96%);
    padding: 16px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-radius: 8px;

    

    .stars{
      display: flex;
      justify-content: center;
      padding-bottom: 14px;

      img:not(:last-of-type) {
        margin-right: 8px;
      }

      .icon{
        filter: brightness(70%);
        animation: brilho 4s infinite alternate;
      }
    }
  
  }

  .testimonials{

    text-align: left;

    .testimonial{
      max-width: 100%;
      background-color: hsl(300, 43%, 22%);
      border-radius: 8px;
      color: hsl(0, 0%, 100%);
      margin-bottom: 16px;

      .user{

        padding: 40px 32px;
        padding-bottom: 38px;

        .testimonials-header{
          display: flex;
          margin-bottom: 26px;

          .user-pic{
            border-radius: 50%;
            max-width: 40px;
            max-height: 40px;
            margin-right: 22px;
          }

          .user-info{

            text-align: left;

            h2 {
              font-weight: 500;
              font-size: 18px;
              line-height: 1.1;
            }

            p {
              font-size: 17px;
              font-weight: 400;
              color: hsl(333, 80%, 67%);
              line-height: 1.1;
              letter-spacing: 0.3px;
            }
          }
        }

        .comment{
          p {
            line-height: 1.3;
            font-size: 17px;
          }
        }


      }

    }

  }


}
